#trash{
    position: fixed;
    bottom: 0;
    right: 100px;
    max-height: 100px;
    min-height: 100px;
    width: 200px;
    padding: 15px;
    align-content: center;
    border-width: 1px;
    border-style: solid;
  }